{
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "proseWrap": "always",
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
